# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

# Environnement
.env

# Données brutes (trop lourdes pour Git)
*.json
*.csv
!raw_data_sample.json

# Docker
*.log

# IDEs
.vscode/
.idea/